:root {
  /* Font */
  --font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

  /* Color scheme */
  color-scheme: light dark;

  /* Light theme colors */
  --light-bg-color: #ffffff;
  --light-text-color: #000000;

  /* Dark theme colors */
  --dark-bg-color: #0c1114;
  --dark-text-color: #ffffff;

  /* Active theme (defaults to light) */
  --bg-color: var(--light-bg-color);
  --text-color: var(--light-text-color);

  font-family: var(--font-family);
  background-color: var(--bg-color);
  color: var(--text-color);
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: var(--dark-bg-color);
    --text-color: var(--dark-text-color);
  }
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}